body{

}
div {
    /*box-sizing: border-box;*/
    text-align: left;
}
.noline {
    color: #000000;
    text-decoration:none
}



/****           DIV           ***/
/*header*/
div.header{
    border-bottom: 2px solid #AAAAAA;
    display: table;
    width: 100%;
}
div.header_rogo{
    display: table-cell;
    margin-left: 10px;
}
div.header_center{
    display: table-cell;
    margin-left: 10px;
}
div.header_datetime{
    width: 20%;
    display: table-cell;
    margin-left: 10px;
}

/*contents*/
div.contents{
    width: 100%;
    display: table;
}
div.contents_tex{
    /*border: solid 1px #ff5e00;*/
    margin: 10px 1px;
    display: block;
    width:90%;
}
div.viewer{
    overflow:auto;
    height:50vh;
    border:1px solid #000;
}
div.contents_result{
    /*border: solid 1px #ff5e00;*/
    margin: 10px 1px;
    display: block;
    width:90%;
}
div.contents_diff{
    /*border: solid 1px #ff5e00;*/
    margin: 10px 1px;
    display: block;
    width:90%;
}

/*bottom*/
div.bottom{
    border-top: 2px  solid #AAAAAA;
    width: 100%;
}

/****       details & summary       ***/
summary{
    font-size: 2.5em;
}

.summary_button{
    font-size: 1.4em;
    font-weight: bold;
    padding: 5px 15px;
    background-color: #224488;
    color: #ffffff;
    border-style: none;
}

/****        canvas        **/
canvas.viewer_img{
    /*padding: 10px;
    border: 1px solid #00ff2a;*/
}