[Unit]
Description = Latex_auto_compile

[Service]
ExecStart = /path/latex_auto_compile.sh
Restart = always
Type = simple

[Install]
WantedBy = multi-user.target